<h1>Grocery List</h1>

<ul id="grocery-list">
  <% @groceries.each do |item| %>
    <li class="item">

      <label for="grocery_trash"><input type="radio" name="listitem" value="<%= item['name'] %>"><%= item['name'] %></label>
      <button>delete</button>
    </li>
  <% end %>
</ul>

<form method="post" action="/groceries">
  <label for="grocery_name">Name</label>
  <input type="text" name="name" id="grocery_name">
  <input type="submit" value="Add">
</form>
